
@{
    Layout = null;
}
@model User

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>注册</title>

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">

</head>


<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="panel panel-color panel-primary panel-pages">

            <div class="panel-body">
                <h3 class="text-center m-t-0 m-b-15">
                    <a href="index.html" class="logo"><img src="~/assets/images/logo_white.png" alt="logo-img"></a>
                </h3>
                <h4 class="text-muted text-center m-t-0"><b>注册</b></h4>

                <form asp-controller="Login" asp-action="Register" class="form-horizontal m-t-20" method="post" onsubmit="onSubmit()">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="UserName" type="text" class="form-control" required="" placeholder="用户名">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="PassWord" class="form-control" type="password" required="" placeholder="密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="NickName" class="form-control" type="text" required="" placeholder="名称">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="Email" class="form-control" type="email" required="" placeholder="电子邮箱">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="Phone" class="form-control" type="text" required="" placeholder="手机号">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-12 text-center">
                                <label id="errorInfo" style="display:none;color:white">@ViewBag.ErrorInfo</label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Register</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12 text-center">
                            <a asp-action="Index" class="text-muted">已经拥有账号?</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>



    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <script src="~/assets/js/app.js"></script>

    <script>
        $(function () {
            //显示服务端验证的错误信息
            if ($("#errorInfo").html()) {
                $("#errorInfo").show();
            };
        });
    </script>
</body>
</html>
