@if (ViewBag.UserRole == "Administrator")
{
    <li>
        <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                数据全局概览<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>
    <li>
        <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                网站公告管理<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>
    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-album"></i> <span>
                学校信息管理
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a href="ui-components.html">分组信息维护</a></li>
            <li><a href="ui-buttons.html">用户角色维护</a></li>
        </ul>
    </li>

}
else if (ViewBag.UserRole == "Teacher")
{
    <li>
        <a asp-area="Teacher" asp-controller="Home" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                数据全局概览<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-album"></i> <span>
                题目管理
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="Add">题目信息添加</a></li>
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="Import">题目信息导入</a></li>
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="List">题目综合管理</a></li>
            <li><a href="ui-buttons.html">题目分类管理</a></li>
        </ul>
    </li>

}
else
{
    <li>
        <a asp-area="Student" asp-controller="Home" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                公告<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-album"></i> <span>
                题目
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li>
                <a asp-area="Student" asp-controller="Problem" asp-action="List" class="waves-effect">题目集</a>
            </li>
            <li>
                <a asp-area="Student" asp-controller="Problem" asp-action="Category" class="waves-effect">题目目录</a>
            </li>
        </ul>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-album"></i> <span>
                Contest
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a href="ui-components.html">Current Contest</a></li>
            <li><a href="ui-buttons.html">Passed Contest</a></li>
            <li><a href="ui-buttons.html">Recent Contest</a></li>
        </ul>
    </li>

    <li>
        <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                Ranklist<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>

    <li>
        <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                Status<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>

    <li>
        <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                Discuss<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>
    <li>
        <a href="index.html" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                F.A.Q<span class="badge badge-primary pull-right">1</span>
            </span>
        </a>
    </li>
}