@if (ViewBag.UserRole == "Administrator")
{
    <li>
        <a asp-area="Administrator" asp-controller="Home" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                数据全局概览
            </span>
        </a>
    </li>


    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-contact-mail"></i> <span>
                分组信息维护
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a asp-area="Administrator" asp-controller="Group" asp-action="Add">分组信息添加</a></li>
            <li><a asp-area="Administrator" asp-controller="Group" asp-action="Index">分组信息管理</a></li>
        </ul>
    </li>

    <li>
        <a asp-area="Administrator" asp-controller="User" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-human"></i> <span>
                用户角色维护
            </span>
        </a>
    </li>
}
else if (ViewBag.UserRole == "Teacher")
{
    <li>
        <a asp-area="Teacher" asp-controller="Home" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                数据全局概览
            </span>
        </a>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-checkbox-multiple-marked-outline"></i> <span>
                题目管理
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="Add">题目信息添加</a></li>
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="Import">题目信息导入</a></li>
            <li><a asp-area="Teacher" asp-controller="Problem" asp-action="List">题目综合管理</a></li>
        </ul>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-cards"></i> <span>
                题目分类管理
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a asp-area="Teacher" asp-controller="Category" asp-action="Add">题目分类添加</a></li>
            <li><a asp-area="Teacher" asp-controller="Category" asp-action="List">题目分类管理</a></li>
        </ul>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-content-duplicate"></i> <span>
                推荐内容管理
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li><a asp-area="Teacher" asp-controller="Learn" asp-action="Add">内容添加</a></li>
            <li><a asp-area="Teacher" asp-controller="Learn" asp-action="List">内容管理</a></li>
        </ul>
    </li>
}
else
{
    <li>
        <a asp-controller="FAQ" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-home"></i><span>
                首页
            </span>
        </a>
    </li>

    <li class="has_sub">
        <a href="javascript:void(0);" class="waves-effect">
            <i class="mdi mdi-book-open-page-variant"></i> <span>
                题目
            </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span>
        </a>
        <ul class="list-unstyled">
            <li>
                <a asp-controller="Problem" asp-action="List" class="waves-effect">题目集</a>
            </li>
            <li>
                <a asp-area="Student" asp-controller="Category" asp-action="List" class="waves-effect">题目分类目录</a>
            </li>
        </ul>
    </li>

    <li>
        <a asp-area="Student" asp-controller="Learn" asp-action="List" class="waves-effect">
            <i class="mdi mdi-album"></i> <span>
                在线学习
            </span>
        </a>
    </li>

    <li>
        <a asp-controller="Rank" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-chart-areaspline"></i><span>
                排行榜
            </span>
        </a>
    </li>

    <li>
        <a asp-controller="Status" asp-action="Index" class="waves-effect">
            <i class="mdi mdi-xml"></i><span>
                评测状态<span class="badge badge-primary pull-right">@ViewBag.StatueCount</span>
            </span>
        </a>
    </li>

}