@using Learning_Platform_of_DSAA.Areas.Teacher.Models
@model Learning_Platform_of_DSAA.Areas.Teacher.Models.DataCreateModel

@{
    ViewData["Title"] = "题目数据创建";
}

<div class="">
    <div class="page-header-title">
        <h4 class="page-title">@ViewData["Title"] </h4>
    </div>
</div>


<div class="page-content-wrapper ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <address>
                                            1. 您可以在本页创建题目的数据，若题目数据较大，建议在本地创建完成后上传题目数据包。<br />
                                            2. 如果题目之前存在数据包，则操作后会自动替换之前的数据包，请谨慎操作。<br />
                                            3. 如果通过上传数据文件创建题目数据包，请保证输入文件扩展名为.in，输出文件扩展名为.out或.ans。
                                        </address>
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->

                                <div class="panel-body">


                                    <form asp-controller="Problem" asp-action="Add" cmethod="post" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"><span class="star">*</span>题目ID</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" asp-for="Id" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                                <span class="star">*</span>输入数据1
                                            </label>
                                            <div class="col-md-4">
                                                <textarea class="form-control" rows="5" asp-for="Id" required></textarea>
                                            </div>
                                            <label class="col-md-2 control-label">
                                                <span class="star">*</span>输出数据1
                                            </label>
                                            <div class="col-md-4">
                                                <textarea class="form-control" rows="5" asp-for="Id" required></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-10 control-label"></label>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                                Submit
                                            </button>
                                            <button type="reset" class="btn btn-default waves-effect m-l-5">
                                                Cancel
                                            </button>
                                        </div>

                                    </form>
                                </div> <!-- panel-body -->
                            </div>
                        </div> <!-- end row -->
                    </div> <!-- panel body -->
                </div> <!-- end panel -->

            </div> <!-- end col -->

        </div>
        <!-- end row -->


    </div><!-- container -->
</div> <!-- Page content Wrapper -->
