@{
    string UserNickName = "";
    byte[] bytes;
    //get the session
    if (Context.Session.TryGetValue("UserNickName", out bytes))
    {
        UserNickName = System.Text.Encoding.UTF8.GetString(bytes);
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Learning_Platform_of_DSAA</title>

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><img src="~/assets/images/logo.png" alt="logo-img"></a>
                    <a href="index.html" class="logo-sm"><img src="~/assets/images/logo_sm.png" alt="logo-img"></a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="">
                        <div class="pull-left">
                            <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                <i class="ion-navicon"></i>
                            </button>
                            <span class="clearfix"></span>
                        </div>
                        <form class="navbar-form pull-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control search-bar" placeholder="Search...">
                            </div>
                            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                        </form>

                        <ul class="nav navbar-nav navbar-right pull-right">
                            
                            <li class="hidden-xs">
                                <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a>
                            </li>
                            <li class="hidden-xs">
                                <a asp-controller="Login" asp-action="Logout" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-logout-variant"></i></a>

                            </li>
                            <!--
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light">
                                    @*@HttpContext.Session*@
                                    <i class="mdi mdi-logout-variant"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"> Profile</a></li>
                                    <li><a href="javascript:void(0)"><span class="badge badge-success pull-right">5</span> Settings </a></li>
                                    <li><a href="javascript:void(0)"> Lock screen</a></li>
                                    <li class="divider"></li>
                                    <li><a asp-controller="Login" asp-action="Logout"> Logout</a></li>
                                </ul>
                            </li>
                                -->
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <div id="sidebar-menu">
                    <ul>
                        <li class="menu-title">Menu</li>
                        <!--Navigation -->
                        @await Component.InvokeAsync("Navigation", new { maxPriority = 2, isDone = false })
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- end sidebarinner -->
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @RenderBody()

            </div> <!-- content -->

            <footer class="footer">
                © 2019 WTU - All Rights Reserved.
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->
    <!-- Sweet-Alert  -->
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <!-- parsleyjs  -->
    <script type="text/javascript" src="~/assets/plugins/parsleyjs/parsley.min.js"></script>


    <script src="~/assets/js/app.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });


        $(function () {


            //显示服务端验证的错误信息
            if ("@ViewBag.SweetInfo"!= "") {
                swal({
                title: "消息",
                text: "@Html.Raw(ViewBag.SweetInfo)",
                timer: 2000,
                showConfirmButton: false
            });
            };
        });


    </script>
</body>
</html>

