@model DSAA.EntityFrameworkCore.Entity.Learn

@{
    ViewData["Title"] = Model.Title;
}

<div class="">
    <div class="page-header-title">
        <h4 class="page-title">@ViewData["Title"]</h4>
    </div>
</div>

<div class="page-content-wrapper ">

    @Html.Raw(Model.Content)


</div> <!-- Page content Wrapper -->
