@{
    ViewData["Title"] = "F.A.Q/ 常见问题解答";
}
<style>
    .tab-content {
        width: 100%;
    }

        .tab-content pre {
            background: inherit;
            border: none;
            color: #66d203;
        }
</style>


<div class="">
    <div class="page-header-title">
        <h4 class="page-title">@ViewData["Title"]</h4>
    </div>
</div>

<div class="page-content-wrapper ">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-header m-t-0">
                                    我可以使用什么编程语言，并且每个编译器的参数是怎样的？
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted m-b-30">
                                    本系统目前支持C语言，使用GCC进行评测，其他语言后续添加，编译器的版本和参数为：
                                    <ul>
                                        <li>GCC (v4.7.2)：gcc.exe src.c -o test.exe</li>
                                        <li>G++ (v4.7.2)：g++.exe src.c -o test.exe</li>
                                        <li>JDK6 (Update 45)：javac.exe -encoding utf-8 Main.java</li>
                                    </ul>
                                </p>
                            </div>
                        </div> <!-- end row -->
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-header m-t-0">我如何在 Online Judge 上编写我的程序？</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted m-b-30">
                                    评测系统中的输入都是通过标准输入给出的，您的输出也需要以标准输出的形式输出。<br />
                                </p>

                                <div class="col-lg-12">
                                    <div class="tabs-vertical-env">
                                        <ul class="nav tabs-vertical">
                                            <li class="active">
                                                <a href="#v-home" data-toggle="tab" aria-expanded="false">C语言</a>
                                            </li>
                                            <li class="">
                                                <a href="#v-profile" data-toggle="tab" aria-expanded="true">C++语言</a>
                                            </li>
                                            <li class="">
                                                <a href="#v-messages" data-toggle="tab" aria-expanded="false">Java语言</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="v-home">
                                                <p>对于 A + B 程序（Problem 1），使用C语言来编写：</p>
                                                <pre>
#include &lt;stdio.h&gt;
int main()
{
    int a, b;
    scanf("%d%d", &a, &b);
    printf("%d\n", a + b);
    return 0;
}</pre>
                                            </div>
                                            <div class="tab-pane " id="v-profile">
                                                <p>上述程序使用C++语言来编写：</p>
                                                <pre>
#include &lt;iostream&gt;
using namespace std;
int main()
{
    int a, b;
    cin >> a >> b;
    cout << a + b << endl;
    return 0;
}</pre>
                                            </div>
                                            <div class="tab-pane" id="v-messages">
                                                <p>上述程序使用Java语言来编写：</p>

                                                <pre>
import java.util.*;
public class Main {
    public static void main(String[] args) {
        Scanner in = new Scanner(System.in);
        int a = in.nextInt();
        int b = in.nextInt();
        System.out.println(a + b);
    }
}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- end row -->

                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-header m-t-0">评测机的回应代表什么?</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted m-b-30">
                                    评测机的回应如下列表所示：
                                    <ul>
                                        <li><span class="label status_Pending">Pending / Rejudge Pending（等待 / 重测等待）</span>：表明您的程序正在排队等待评测，请稍等片刻。</li>
                                        <li><span class="label status_Judging">Judging（评测中）</span>：表明您的程序正在评测中。</li>
                                        <li><span class="label status_CompileError">Compile Error（编译错误）</span>：表明您的程序无法在评测机上编译，您可以在“Online Status”页面查看详细信息。</li>
                                        <li><span class="label status_RuntimeError">Runtime Error（运行错误）</span>：表明您的程序在运行时出现错误，您可以在“Online Status”页面查看详细信息。</li>
                                        <li><span class="label status_TimeLimitExceeded">Time Limit Exceeded（时间过长）</span>：表明您的程序运行时间超出了规定最长的时间。</li>
                                        <li><span class="label status_MemoryLimitExceeded">Memory Limit Exceeded（内存过量）</span>：表明您的程序使用的内存超出了规定最大的内存。</li>
                                        <li><span class="label status_OutputLimitExceeded">Output Limit Exceeded（输出过多）</span>：表明您程序输出了过多的内容，请确保您的程序没有出现死循环。</li>
                                        <li><span class="label status_WrongAnswer">Wrong Answer（答案错误）</span>：表明您的程序输出了错误的答案，请注意，评测时使用的数据远远比样例数据复杂的多。</li>
                                        <li><span class="label status_PresentationError">Presentation Error（格式错误）</span>：表明您程序输出内容的格式与标准输出不完全一致，请检查空格、回车等是否输出正确。</li>
                                        <li><span class="label status_Accepted">Accepted（通过）</span>：表明您的程序是正确的并且通过了评测机的测试。</li>
                                    </ul>
                                </p>
                            </div>
                        </div> <!-- end row -->

                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-header m-t-0">
                                    为什么我的C / C++程序评测机回应 Compile Error（编译错误）？
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted m-b-30">
                                    评测机使用的编译器为GCC / G++，可能与您使用的VC++有所不同，例如：<br />
                                    <ul>
                                        <li>main 函数必须定义为 <strong>int</strong> 类型，同时在 main 函数结束前请使用return 0，如果使用 void main() 将会产生 Compile Error。</li>
                                        <li>数值转字符串函数 <strong>itoa</strong> 不是 ANSI 标准函数，请使用其他替代方案。</li>
                                        <li>64位整型 <strong>__int64</strong> 不是ANSI编码规范中的，您可以使用 <strong>long long</strong> 来代替。由于我们使用的 Windows 操作系统，所以在使用 scanf 和 printf 的时候，请使用 "<strong>%I64d</strong>" 代替 "<strong>%lld</strong>"。</li>
                                    </ul>
                                </p>
                            </div>
                        </div> <!-- end row -->

                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-header m-t-0">
                                    允许提交的最大代码长度是多少？
                                </h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-muted m-b-30">
                                    本系统允许提交的最大代码长度为 32767 字节（32KB）

                                </p>
                            </div>
                        </div> <!-- end row -->


                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div><!-- container -->
</div> <!-- Page content Wrapper -->
